[Unit]
Description=WMX ROS2 General Package
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/jetstream/wmx_ros2_ws
ExecStart=/bin/bash -c "source /opt/ros/foxy/setup.bash && source /home/jetstream/wmx_ros2_ws/install/setup.bash && ros2 launch wmx_ros2_general_package wmx_ros2_general.launch.py"
Environment=LANG=en_US.UTF-8
Environment=ROS_DOMAIN_ID=88
Environment=ROS_LOG_DIR=/home/jetstream/.ros/log
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target