[Unit]
Description=AMR ROS2 Interface Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/jetstream/amr_ipc_ws
ExecStart=/bin/bash -c "source /opt/ros/foxy/setup.bash && source /home/jetstream/amr_ipc_ws/install/setup.bash && ros2 launch amr_ros2_interface diff_drive.launch.py"
Environment=LANG=en_US.UTF-8
Environment=ROS_DOMAIN_ID=69
Environment=ROS_LOG_DIR=/home/jetstream/.ros/log
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target