<?xml version="1.0"?>
<robot name="movensys_manipulator" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--
    Top-level Dobot CR3A description for the WMX3 ros2_control path.
    Reuses the geometry from movensys_manipulator_description and attaches the
    WMX3 hardware interface (instead of the mock_components GenericSystem used
    by the MoveIt fake-system config).
  -->

  <xacro:arg name="wmx_param_file"
             default="$(find wmx_ros2_package)/config/cr3a_wmx_parameters.xml"/>
  <!-- interval_cycles = WMX RT cycle rate (Hz) / controller_manager update_rate (Hz). -->
  <xacro:arg name="interval_cycles" default="10"/>

  <xacro:include filename="$(find movensys_manipulator_description)/urdf/dobot_cr3a/movensys_manipulator.xacro"/>
  <xacro:include filename="$(find wmx_ros2_control)/urdf/cr3a.wmx.ros2_control.xacro"/>

  <xacro:movensys_manipulator_arm_wmx_ros2_control
      name="WmxManipulatorArmSystem"
      wmx_param_file="$(arg wmx_param_file)"
      interval_cycles="$(arg interval_cycles)"/>

</robot>
