<?xml version="1.0"?>
<robot name="movensys_navigation" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="wmx_param_file"
             default="$(find wmx_ros2_package)/config/diffbot_wmx_parameters.xml"/>

  <xacro:include filename="$(find movensys_navigation_description)/urdf/diffbot/diffbot.xacro"/>
  <xacro:include filename="$(find movensys_navigation_description)/urdf/diffbot/perception.xacro"/>
  <xacro:include filename="$(find wmx_ros2_control)/urdf/diffbot.wmx.ros2_control.xacro"/>

  <link name="base_footprint"/>

  <joint name="base_link_joint" type="fixed">
    <origin xyz="0 0 0.095" rpy="0 0 0"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
  </joint>

  <xacro:diffbot/>

  <xacro:diffbot_wmx_ros2_control wmx_param_file="$(arg wmx_param_file)"/>

</robot>
